%h1
  .text-center
    = user.firstname

    = user.lastname

- if user == current_user
  %h2 Reviews to my products
- else
  %h2 Products reviews

- if @reviews.any?
  %table.table
    %th Title
    %th Review
    %tr
      - @reviews.each do |review|
        %tr
          %td= link_to review.product.title, category_product_path(review.product.category, review.product)
          %td= review.content
- else
  No reviews yet.
