@import "bootstrap";
body {
  background-color: #CCFFFF;
}
.navbar.navbar-default {
  background-color: #3399ff;
  margin-bottom: 0px
}
.navbar-default {
  .navbar-text {
    a {
      color: #ffffff;
    }
  }
}

.form-inputs {
  width: 300px;
}
.navbar-default {
  .navbar-brand {
    color: #ffffff;
  }
}
.navbar{
  margin-bottom: 0px;
}

li {
  list-style-type: none;
}

/*
 * Left panel
 */
.left-panel {
  background-color: #D8F0F6;
}
.row-user {
  display: table;
}
.col-height {
  float: none;
  display: table-cell;
  vertical-align: top;
}

/*
 * Main content
 */

.main {
  background-color: #CCFFFF;

}
.main .page-header {
  margin-top: 0;
}
img.gravatar {

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.col-md-9 {
  padding-right: 0px;
  padding-left: 0px;
}
h2 {
  margin-left: 10px;
}

/* Form */
.center {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
