%blockquote
  %p
    - review.rating.times do
      %span.glyphicon.glyphicon-star-empty.rating
  %p
    %strong= link_to review.product.title, category_product_path(product.category, review.product.id)
  %p
    = review.content
  %footer
    = link_to review.author, user_path(review.user)
    = review.created_at.to_date.strftime('%d-%m-%Y')
